$editor-box-height: 430;
$editor-nav-height: 30;
$editor-content-height: 400;

@font-face {
  font-family: 'iconfont';
  src: url('./font/iconfont.eot');
  src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('./font/iconfont.woff') format('woff'),
  url('./font/iconfont.ttf') format('truetype'),
  url('./font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.editor-box {
  position: relative;
  width: 600px;
  height: $editor-box-height + px;
  margin: 50px auto 0;
  border: 1px solid #eee;
  user-select: none;
}

.editor-nav {
  height: $editor-nav-height + px;
  padding: 0;
  margin: 0;
  line-height: $editor-nav-height + px;
  background-color: #f9f9f9;

  & li {
    position: relative;
    float: left;
    list-style: none;
    margin: 0 3px 0;
    color: #ccc;

    &:hover {
      color: darkturquoise;
    }
  }

  &-icon {
    padding: 0 6px;
    cursor: pointer;
    @extend .iconfont;
  }
  .icon-italic::before {
    content: '\e643';
  }
  .icon-bold::before {
    content: '\e647';
  }
  .icon-underline::before {
    content: '\e644';
  }
  .icon-insertUnorderedList::before {
    content: '\e8a9';
  }
  .icon-justifyCenter::before {
    content: '\e64a';
  }
  .icon-justifyFull::before {
    content: '\e64c';
  }
  .icon-emoji::before {
    content: '\e600';
  }
  .icon-image::before {
    content: '\e639';
  }
  .icon-video::before {
    content: '\e65f';
  }
  .icon-link::before{
    content: '\e615';
  }
  .icon-insertHorizontalRule::before{
    content: '\e6c7';
  }
  &-label {
    input {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    input:checked {
      & + span {
        color: lightblue;
      }
      & + .icon-italic::before {
        content: '\e646';
      }
      & + .icon-bold::before {
        content: '\e648';
      }
      & + .icon-underline::before {
        content: '\e645';
      }
      & + .icon-insertUnorderedList::before {
        content: '\e601';
      }
      & + .icon-justifyCenter::before {
        content: '\e649';
      }
      & + .icon-justifyFull::before {
        content: '\e64b';
      }
      & + .icon-emoji::before {
        content: '\e700';
      }
      & + .icon-link::before{
        content: '\e6b0';
      }
    }
  }
}

.emojiIcon:checked ~ div {
  display: block;
}

.editor-emoji-box {
  position: absolute;
  left: 50%;
  z-index: 3;
  display: none;
  padding: 10px 12px;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  transform: translateX(-40%);
}

.editor-emoji-table {
  border-collapse: collapse;

  td {
    padding: 0;
    margin: 0;
    line-height: 0;
    border: 1px solid #ddd;
  }
  &-td {
    display: inline-block;
    padding: 4px;
    background-color: aliceblue;
    cursor: pointer;
    &:hover {
      transform: translateY(-4px);
    }
  }
}

.iframeLink:checked ~ iframe {
  display: block;
}

.editor-frame-link {
  position: absolute;
  left: 50%;
  z-index: 3;
  display: none;
  margin-top: 10px;
  border-radius: 5px;
  transform: translateX(-40%);
}

.editor-content {
  &-box {
    position: relative;
    width: 100%;
    height: $editor-content-height + px;
    padding: 10px 20px 10px 10px;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  width: 100%;
  min-height: 100%;
  outline: none;
  &-img {
    display: block;
    margin: 10px auto;
  }
}

.editor-scroll {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 20px;
  height: $editor-content-height+px;
  background-color: #fff;

  &-top {
    position: relative;
    width: 6px;
    height: $editor-content-height +px;
    margin-left: 7px;
    background-color: #eee;
    border-radius: 3px;
    transform-origin: 50% 0;
  }
}


