$editor-box-height: 440;
$editor-nav-height: 40;
$editor-content-height: 400;
.editor-box {
  position: relative;
  width: 600px;
  height: $editor-box-height + px;
  margin: 50px auto 0;
  border: 1px solid #eee;
  user-select: none;
}

.editor-nav {
  height: $editor-nav-height + px;
  padding: 0;
  margin: 0;
  line-height: $editor-nav-height + px;
  background-color: #eee;

  & li {
    position: relative;
    float: left;
    list-style: none;
    margin: 0 3px 0;
    color: #ccc;

    &:hover{
      color: darkturquoise;
    }
  }

  &-icon {
    padding: 0 3px;
    cursor: pointer;
  }
  &-label {
    input {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;

    }
    input:checked + span {
      color: cornflowerblue;
    }
  }
}

.emojiIcon:checked ~ div {
  display: block;
}

.editor-emoji-box {
  position: absolute;
  left: 50%;
  z-index: 3;
  display: none;
  padding: 10px 12px;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  transform: translateX(-40%);
}

.editor-emoji-table {
  border-collapse: collapse;

  td {
    padding: 0;
    margin: 0;
    line-height: 0;
    border: 1px solid #ddd;
  }
  &-td {
    display: inline-block;
    padding: 4px;
    background-color: aliceblue;
    cursor: pointer;
    &:hover {
      transform: translateY(-4px);
    }
  }
}

.iframeLink:checked ~ iframe {
  display: block;
}

.editor-frame-link {
  position: absolute;
  left: 50%;
  z-index: 3;
  display: none;
  margin-top: 10px;
  border-radius: 5px;
  transform: translateX(-40%);
}

.editor-content {
  width: 100%;
  height: $editor-content-height + px;
  overflow-x: hidden;
  padding: 10px 20px;
  outline: none;
  box-sizing: border-box;
}

.editor-scroll {
  position: absolute;
  right: 0;
  width: 20px;
  height: $editor-content-height+px;
  background-color: #fff;

  &-top {
    position: relative;
    width: 6px;
    height: $editor-content-height +px;
    margin-left: 7px;
    background-color: #eee;
    border-radius: 3px;
    transform-origin: 50% 0;
  }
}